@use 'reset';
@use 'header';
@use 'products';
@use 'variaveis';

body {
    background-color: variaveis.$corDeFundo;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: variaveis.$marginContainer;
}

section {
    padding: 56px 0;
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}